*{
    margin: 0px;
    padding: 0px;
}

.manu-container{
padding: 19px;
background-color: rgb(34, 31, 31);
list-style: none;
display: flex;
align-items: center;
justify-content: space-around;
}
.logo-photo{
width: 300px;
}
.manu{color: azure;
display: flex;

}
.qq{margin: 20px;
    padding: 5px;
font-size: 20px;
cursor: pointer;

}
.qq:hover{
    color: tomato;
}
.ee{
background-color: red;
color: white;
padding: 9px;
margin: 10px;
border: 20px;
}

.banner-img{
    width: 400px;
}
.banner-container{
display: flex;

align-items: center;
height: 90vh;
border: 2px solid brown;
justify-content: space-around;
color: azure;
background-image: url("OIP\ \(1\).jpg"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 48, 48));
}
.t{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.h{
padding: 7px;
margin: 3px;
color: azure;
background-color: tomato;
border:2px yellow solid;
}
